---
import Layout from '../../layouts/Layout.astro';
import Navigation from '../../components/Navigation.astro';

import { getAllCollections } from '../../utils/shopify.js';

const collections = await getAllCollections();

// console.log(Astro.site);
// console.log(Astro.url);
// console.log(Astro.url.pathname);
// console.log(Astro.url.origin);
// console.log(collections);
---

<Layout>
	
	<Navigation />

	<h1>All Collections ({collections.length})</h1>

	<ul>
	{collections.map((collection: any) => (

		<li>
			<a set:text={collection.title} href=`${Astro.url.origin}${Astro.url.pathname}/${collection.handle}` title={collection.title} />
		</li>

	))}
	</ul>

</Layout>