---
// CANONICAL URL
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

// const basePath = import.meta.env.BASE_URL;

const siteName = 'Astro Basics';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<!-- <meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{siteName}</title> -->

		<meta name="viewport" content="width=device-width" />
		<!-- <meta name="description" content={metaDescription} /> -->
		<meta name="generator" content={Astro.generator} />
	
		<meta property="og:title" content={siteName} />
		<!-- <meta property="og:description" content={metaDescription} /> -->
		<!-- <meta property="og:image" content={`${basePath}lisboeta-image.jpg`} /> -->
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:locale" content="en_GB" />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content={siteName} />
	
		<link rel="canonical" href={canonicalURL} />
		<!-- <link rel="sitemap" href={`${basePath}sitemap-index.xml`} /> -->

	</head>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
